<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.enalytix.faceattendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Enable instant app support -->
    <dist:module dist:instant="true" /> <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" /> <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:foregroundServiceType="location"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceAttendance">
        <activity android:name=".activities.RegistrationFailed"></activity>
        <activity android:name=".activities.RegisterEmployeeActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SupervisorHomeActivity"></activity>
        <activity android:name=".activities.AttendanceViewActivity" />
        <activity
            android:name=".activities.MaxTryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotAtLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterAgainResponseActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.AttendanceResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RecordAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EmployeeHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.enalytix.faceattendance.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>